<h1>Edit category <%= category.name %></h1>
<p>
  <a href="/categories">Back to categories</a>
</p>

<form method="post" action="/categories/update">
  <% console.log(category) %>
  <%- include('_form', { ...category }) %>
</form>

<% if (error) { %>
 <%= error %>
<% } %>
