<h1>New category</h1>
<p>
  <a href="/categories">Back to categories</a>
</p>

<form method="post" action="/categories/create">
  <%- include('_form', { id: null, name: null, albums: null }) %>
</form>

<% if (error) { %>
 <%= error %>
<% } %>
