<h1>New category</h1>
<p>
  <a href="/categories">Back to categories</a>
</p>

<form method="post">
  <label>Category Name</label>
  <input type="text" placeholder="Name" name="name">
  <h3>Albums</h3>
  <button type="submit">Create</button>
</form>

{{#if error }}
<h2>Error</h2>
{{error}}
{{/if}}
