{% extends "layout.html" %}

{% block content %}
<h1>Albums</h1>
{# <a href="/albums/new" class="spacy">New album</a> #}
<ul>
{% for album in albumsWithCategory %}
  <li>{{album.title}}
    {% if album.category %}
      (category: {{album.category.name}})
    {% else %}
      <span class="warning">(No category)</span>
    {% endif %}
    <a href="/albums/edit/{{album.id}}">Edit</a>
    <a href="/albums/delete/{{album.id}}" onclick="return confirm('Confirm delete?')" >
      Delete
    </a>
  </li>
{% endfor %}
</ul>
<h3>Without category</h3>
<ul>
{% for album in albumsWithoutCategory %}
  <li>{{album.title}}
    <a href="/albums/edit/{{album.id}}">Edit</a>
    <a href="/albums/delete/{{album.id}}" onclick="return confirm('Confirm delete?')" >
      Delete
    </a>
  </li>
{% endfor %}
</ul>
{% endblock content %}
