<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    {% include "shared/error.html" %}
    <nav>
      <div><a href="/categories">Categories</a> | <a href="/albums">Albums</a></div>
      <div>Management for <a href="https://skanderphoto.com">skanderphoto.com</a></div>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block script %}{% endblock %}
  </body>
</html>
